<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="list-group">
            <a  
                *ngFor = "let todo of todos; let i=index"
                class="list-group-item clearfix"
                [routerLink]="['todo/',i]"
                routerLinkActive="active">{{todo.name}}</a>
        <a class="list-group-item clearfix"
        [routerLink]="['/addnew']"
        routerLinkActive="active">Add More </a>

        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    </div>
</div>